<template>
  <div
    class="field"
    :class="{ 'field--error': error && error.length, 'field--filled': filled }"
  >
    <slot />
    <div class="d-flex align-items-center field__label">
      {{ label }}
      <div v-if="iconInfo" :title="infoTitle" class="field__icon-info">
        <b-icon-info-circle-fill />
      </div>
    </div>
    <div class="field__error">
      {{ error }}
    </div>
    <b-icon-chevron-down v-if="select" />
  </div>
</template>

<script>
import { BIconInfoCircleFill, BIconChevronDown } from "bootstrap-vue";

export default {
  name: "Field",

  components: { BIconInfoCircleFill, BIconChevronDown },

  props: {
    label: { type: String, required: true },
    error: { type: String, default: null },
    filled: { type: Boolean, required: true },
    iconInfo: { type: Boolean, default: false },
    select: { type: Boolean, default: false },
    infoTitle: { type: String, default: null }
  }
};
</script>

<style lang="scss" scoped>
.field {
  $root: &;
  position: relative;
  padding: 15px 0 20px 0;
  margin-top: 20px;

  @media (max-width: 576px) {
    margin-top: 5px;
  }

  input,
  select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #c9c9c9;
    outline: none;
    padding: 5px 0;
    color: #3c3c3c;
    font: 17px "Verdana";

    &:focus {
      & + #{$root}__label {
        top: 0;
        font-size: 13px;
      }
    }
  }

  select {
    -webkit-appearance: none;
  }

  &__label {
    position: absolute;
    top: 21px;
    color: #c9c9c9;
    font: 17px "Verdana";
    pointer-events: none;
    transition: 0.25s ease-in-out;
  }

  &__icon-info {
    width: 13px;
    height: 13px;
    margin-left: 10px;
    cursor: pointer;
    pointer-events: all;
    position: relative;

    .bi-info-circle-fill {
      width: 13px;
      height: 13px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__error {
    color: #eb5757;
    font: 13px "Verdana";
    visibility: hidden;
    text-align: left;
    margin-top: 5px;
    position: absolute;
  }

  &--error {
    input {
      border-bottom: 1.5px solid #eb5757;
    }

    #{$root}__error {
      visibility: visible;
    }
  }

  &--filled {
    #{$root}__label {
      top: 0;
      font-size: 13px;
    }
  }

  .bi-chevron-down {
    position: absolute;
    right: 2px;
    bottom: 25px;
    fill: #de4b4b;
  }
}
</style>
