<template>
  <div class="form-data">
    <form>
      <field
        label="Número no cartão"
        :filled="form.number.length > 0"
        :error="errors.number"
      >
        <input
          type="text"
          v-model="form.number"
          v-mask="'#### #### #### ####'"
        />
      </field>
      <field
        label="Nome (igual ao cartão)"
        :filled="form.name.length > 0"
        :error="errors.name"
      >
        <input type="text" v-model="form.name" maxlength="23" />
      </field>
      <b-row>
        <b-col cols="6" class="exp-date-col">
          <field
            label="Validade"
            :filled="form.expDate.length > 0"
            :error="errors.expDate"
          >
            <input type="text" v-model="form.expDate" v-mask="'##/##'" />
          </field>
        </b-col>
        <b-col cols="6" class="vcc-col">
          <field
            label="CVV"
            :filled="form.vcc.length > 0"
            :error="errors.vcc"
            :icon-info="true"
            info-title="CVV é um código de segurança de 3 dígitos, impresso no verso de cartões de crédito."
          >
            <input
              type="text"
              v-model="form.vcc"
              v-mask="'###'"
              @focus="$emit('vcc-focus')"
              @blur="$emit('vcc-blur')"
            />
          </field>
        </b-col>
      </b-row>
      <field
        label="Número de parcelas"
        :filled="form.installs > 0"
        :error="errors.installs"
        :select="true"
      >
        <select v-model="form.installs">
          <option></option>
          <option v-for="i in maxInstalls" :key="i" :value="i">
            {{ i }}
          </option>
        </select>
      </field>
    </form>
    <div class="text-right">
      <button-primary label="CONTINUAR" @clicked="submit()" />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Field from "./Field";
import ButtonPrimary from "../ButtonPrimary";
import { mask } from "vue-the-mask";

export default {
  name: "FormData",

  data() {
    return {
      maxInstalls: 10,
      errors: {
        number: null,
        name: null,
        expDate: null,
        vcc: null,
        installs: null
      }
    };
  },

  props: {
    form: { type: Object, required: true }
  },

  computed: {
    hasErrors() {
      return Object.values(this.errors).filter(e => e != null).length > 0;
    }
  },

  directives: { mask },

  components: { Field, ButtonPrimary },

  methods: {
    submit() {
      this.resetErrors();
      this.testNumber();
      this.testName();
      const expDateTest = this.testExpDate();
      if (!expDateTest) this.errors.expDate = "Data inválida";
      this.testVcc();
      this.testInstalls();
      if (!this.hasErrors) this.sendData();
    },
    resetErrors() {
      this.errors = {
        number: null,
        name: null,
        expDate: null,
        vcc: null,
        installs: null
      };
    },
    testNumber() {
      if (this.form.number.length < 19)
        this.errors.number = "Número de cartão inválido";
    },
    testName() {
      const rgx = new RegExp(
        /[a-zzéúíóáèùìòàõãñêûîôâëyüïöäA-ZÉÚÍÓÁÈÙÌÒÀÕÃÑÊÛÎÔÂËYÜÏÖÄ]* [a-zzéúíóáèùìòàõãñêûîôâëyüïöäA-ZÉÚÍÓÁÈÙÌÒÀÕÃÑÊÛÎÔÂËYÜÏÖÄ](.*)/
      );

      if (!rgx.test(this.form.name)) this.errors.name = "Nome inválido";
    },
    testExpDate() {
      const split = this.form.expDate.split("/");
      const month = parseInt(split[0]);
      const year = parseInt(split[1]);

      if (this.form.expDate.length < 5 || month > 12) return false;
      else {
        const now = new Date();
        const nowMonth = now.getMonth() + 1;
        const nowYear = parseInt(
          now
            .getFullYear()
            .toString()
            .substr(2, 3)
        );

        if (year < nowYear) return false;
        else if (year === nowYear && month < nowMonth) return false;
      }

      return true;
    },
    testVcc() {
      if (this.form.vcc.length < 3) this.errors.vcc = "Código inválido";
    },
    testInstalls() {
      if (!this.form.installs)
        this.errors.installs = "Insira o número de parcelas";
    },
    sendData() {
      this.$store.dispatch("pay", this.form);
    }
  }
};
</script>

<style lang="scss">
.form-data {
  .button-primary {
    width: 246px;
    height: 51px;
    margin-top: 40px;
  }

  @media (max-width: 576px) {
    .exp-date-col {
      padding-right: 5px;
    }

    .vcc-col {
      padding-left: 5px;
    }

    .button-primary {
      margin-top: 25px;
      width: 100%;
    }
  }
}
</style>
