<template>
  <div class="d-flex align-items-center app-header">
    <b-container><img src="../assets/svg/demo-shop.svg"/></b-container>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.app-header {
  height: 90px;
  background: white;
  margin-bottom: 65px;
  border-bottom: 1px solid #c9c9c9;

  @media (max-width: 576px) {
    margin-bottom: 0;
    text-align: center;
  }
}
</style>
