<template>
  <div
    class="d-none d-md-flex align-items-center justify-content-between checkout-breadcrumb"
  >
    <div
      v-for="(step, i) in steps"
      :key="i"
      class="d-flex align-items-center checkout-breadcrumb__step"
    >
      <div class="d-flex align-items-center">
        <b-icon-check-circle v-if="step.finished" class="mr-2" />
        <div v-else class="checkout-breadcrumb__number-ball mr-2">
          {{ i + 1 }}
        </div>
        <span class="checkout-breadcrumb__step-name">
          {{ typeof step === "object" ? step.name : step }}
        </span>
      </div>
      <b-icon-chevron-right v-if="i < steps.length - 1" />
    </div>
  </div>
</template>

<script>
import { BIconChevronRight, BIconCheckCircle } from "bootstrap-vue";

export default {
  name: "Breadcrumb",

  components: { BIconChevronRight, BIconCheckCircle },

  props: {
    steps: { type: Array, default: () => [], required: true },
    numbers: { type: Boolean, default: false }
  }
};
</script>

<style lang="scss" scoped>
.checkout-breadcrumb {
  color: #de4b4b;
  width: 90%;
  margin-left: auto;

  &__number-ball {
    border: 1.3px solid #de4b4b;
    border-radius: 20px;
    padding: 2px 5px;
    font: bold 13px "Verdana";
  }

  .bi-chevron-right {
    margin: 0 17px;
  }

  .bi-check-circle {
    width: 25px;
    height: 25px;
  }

  &__step-name {
    font: 13px "Verdana";
  }
}
</style>
