<template>
  <button class="button-primary" @click="$emit('clicked')">
    {{ label }}
  </button>
</template>

<script>
export default {
  props: {
    label: { type: String, required: true }
  }
};
</script>

<style lang="scss">
.button-primary {
  background-color: #de4b4b;
  border-radius: 10px;
  color: white;
  border: none;
  font: 17px "SF Pro Text Semibold";
}
</style>
