<template>
  <div class="card" :class="{ 'card--filled': filled, 'card--back': showBack }">
    <img
      class="card__logo"
      src="../assets/images/visa.png"
      srcset="../assets/images/visa.png 1x, ../assets/images/visa@2x.png 2x"
    />
    <div class="card__number">
      <span v-if="!form.number.length" class="large">**** **** **** ****</span>
      <span v-else>{{ form.number }}</span>
    </div>
    <div class="d-flex justify-content-between card__bottom">
      <div class="card__name">
        <span v-if="!form.name.length">NOME DO TITULAR</span>
        <span v-else>{{ form.name.toUpperCase() }}</span>
      </div>
      <div class="card__exp-date">
        <span v-if="!form.expDate.length">00/00</span>
        <span v-else>{{ form.expDate }}</span>
      </div>
    </div>
    <div class="card__vcc">
      <span v-if="!form.vcc.length" class="vcc-empty">***</span>
      <span v-else class="vcc-txt">{{ form.vcc }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: { type: Object, default: () => ({}) },
    showBack: { type: Boolean, default: false }
  },

  computed: {
    filled() {
      return (
        Object.values(this.form).filter(f => f !== "" && f !== 0).length > 0
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.card {
  width: 365px;
  height: 224px;
  padding: 38px 26px;
  font-family: "SF Pro Text";
  background: url("../assets/svg/card-empty.svg") 0% 0% no-repeat padding-box;
  text-shadow: 0px 1px 2px #000000b3;
  color: white;
  $root: &;
  position: relative;
  transition: 0.25s ease-in-out;
  border: 0;
  z-index: 1;

  @media (max-width: 576px) {
    width: 280px;
    height: 190px;
    padding: 30px 14px;
    background: url("../assets/svg/card-empty.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }

  &__number {
    margin-top: 66px;
    font-size: 24px;
    letter-spacing: 6.1px;
    height: 29px;

    @media (max-width: 576px) {
      margin-top: 37px;
      font-size: 19px;
      letter-spacing: 4.3px;

      .large {
        font-size: 20px;
      }
    }
  }

  &__name,
  &__exp-date {
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  &__bottom {
    margin-top: 26px;
    height: 19px;
  }

  &__logo {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s ease-in-out;
  }

  &__vcc {
    visibility: hidden;
    color: #3c3c3c;
    font: 18px "SF Pro Text";
    letter-spacing: 6px;
    position: absolute;
    top: 108px;
    left: 175px;

    .vcc-empty {
      margin-top: 4px;
      display: block;
    }

    @media (max-width: 576px) {
      top: 79px;
      left: 132px;

      .vcc-txt {
        font-size: 14px;
      }
    }
  }

  &--back {
    background: url("../assets/svg/card-empty-back.svg") 0% 0% no-repeat
      padding-box;

    @media (max-width: 576px) {
      width: 280px;
      height: 190px;
      padding: 30px 14px;
      background: url("../assets/svg/card-empty-back.svg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
    }

    #{$root}__number {
      visibility: hidden;
    }

    #{$root}__name {
      visibility: hidden;
    }

    #{$root}__exp-date {
      visibility: hidden;
    }

    #{$root}__vcc {
      visibility: visible;
    }
  }

  &--filled {
    background: url("../assets/svg/card-blue.svg") 0% 0% no-repeat padding-box;

    @media (max-width: 576px) {
      width: 280px;
      height: 190px;
      padding: 30px 14px;
      background: url("../assets/svg/card-blue.svg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
    }

    #{$root}__number {
      font-size: 21px;
      letter-spacing: 4px;
      text-align: left;

      .large {
        font-size: 27px;
        letter-spacing: 4.8px;
      }

      @media (max-width: 576px) {
        margin-top: 41px;
        font-size: 19px;
        letter-spacing: 2.3px;

        .large {
          font-size: 20px;
          letter-spacing: 4.3px;
        }
      }
    }

    #{$root}__logo {
      visibility: visible;
      opacity: 1;

      @media (max-width: 576px) {
        width: 53px;
        height: 17.5px;
      }
    }

    &#{$root}--back {
      background: url("../assets/svg/card-back.svg") 0% 0% no-repeat padding-box;

      #{$root}__logo {
        visibility: hidden;
      }

      @media (max-width: 576px) {
        width: 280px;
        height: 190px;
        padding: 30px 14px;
        background: url("../assets/svg/card-back.svg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
      }
    }
  }
}
</style>
