<template>
  <b-row class="checkout">
    <b-col cols="12" md="4" class="checkout__left">
      <div class="d-flex align-items-center checkout__change-payment">
        <b-icon-chevron-left />
        <span class="d-none d-md-block">Alterar forma de pagamento</span>
        <div class="d-md-none text-center w-100 checkout__step">
          <strong>Etapa 2</strong> de 3
        </div>
      </div>
      <div
        class="d-flex align-items-center justify-content-center checkout__add-card"
      >
        <img src="../assets/svg/card-in-circle.svg" class="add-card-img mr-3" />
        <span class="add-card-txt">Adicione um novo cartão de crédito</span>
      </div>
      <card :form="form" :show-back="vccFocused" />
    </b-col>
    <b-col cols="12" md="8" class="checkout__right">
      <breadcrumb :steps="checkoutSteps" :numbers="true" />
      <form-data
        :form="form"
        @vcc-focus="vccFocused = true"
        @vcc-blur="vccFocused = false"
      />
    </b-col>
  </b-row>
</template>

<script>
import Card from "./Card";
import { BIconChevronLeft } from "bootstrap-vue";
import Breadcrumb from "./Breadcrumb";
import FormData from "./form/FormData";

export default {
  name: "Checkout",

  components: { Card, BIconChevronLeft, Breadcrumb, FormData },

  data() {
    return {
      checkoutSteps: [
        { name: "Carrinho", finished: true },
        "Pagamento",
        "Confirmação"
      ],
      form: {
        number: "",
        name: "",
        expDate: "",
        vcc: "",
        installs: 0
      },
      vccFocused: false
    };
  }
};
</script>

<style lang="scss">
.checkout {
  max-width: 1024px;

  &__left {
    height: 594px;
    background-color: #de4b4b;
    padding: 54px 0 0 64px;
    color: white;

    .bi-chevron-left {
      width: 16px;
      height: 20px;
      margin-right: 10px;
    }

    @media (max-width: 576px) {
      padding: 40px 40px 0 40px;
      height: 239px;

      .bi-chevron-left {
        position: absolute;
        left: 16px;
        top: 37px;
        width: 27px;
        height: 27px;
      }
    }
  }

  &__add-card {
    margin: 50px 0 30px 0;
    font: bold 20px "Verdana";
    line-height: 24px;

    @media (max-width: 576px) {
      margin: 30px 0 16px 0;
      font-size: 16px;
      line-height: 20px;

      .add-card-img {
        width: 40px;
        height: 40px;
      }

      .add-card-txt {
        width: 160px;
      }
    }
  }

  &__change-payment {
    cursor: pointer;
    font-size: 13px;
    line-height: 22px;
    font-family: "Verdana Regular";
  }

  &__right {
    padding: 50px 64px 50px 168px;
    border: 1px solid #c9c9c9;
    background: white;

    @media (max-width: 576px) {
      padding: 50px 40px 40px 40px;
    }
  }

  .form-data {
    margin-top: 50px;
  }
}
</style>
