<template>
  <div id="app">
    <app-header />
    <b-container>
      <checkout />
    </b-container>
  </div>
</template>

<script>
import Checkout from "./components/Checkout";
import AppHeader from "./components/AppHeader";

export default {
  name: "App",

  components: {
    Checkout,
    AppHeader
  }
};
</script>

<style lang="scss">
#app {
  background: #f7f7f7;
  padding-bottom: 65px;

  @media (max-width: 576px) {
    padding-bottom: 0;
  }
}
</style>
